* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;

}

body {
  background: #001005;
  color: white;
  height: 100vh;

  animation: slideInLeft 2s ease-in 0s both;

  transform: translateX(-150px);
  overflow-x: hidden;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }
  to {
    transform: translateX(0);
  }
}

html, body {
  overflow-x: hidden;
  width: 100%;
}


/* @media (max-width:) */


/* * {
  scroll-behaviour: smooth;
} */